* {
    margin: 0;
    padding: 0;
}
.biography-section {
    display: flex;
    /*border: 1px solid tomato;*/
    min-width: 1400px;
    margin: 0 auto;   
   
}
.biography-section img {
    max-height: 40.9%;
    max-width: 40.9%;  
}
.title {
    padding-left:7%;
    background-color: aqua; 
    flex-grow: 1;
    box-sizing: border-box;
}
.title h2 {
    margin:0;
    transform: rotate(-90deg) translateX(15%);
}
.content {
    background-color: yellowgreen; 
    width: 32.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.katya-mills {
    font-size: 86px; 
    font-family: Playfair Display; 
    font-weight: 500; 
    word-wrap: break-word;
}
.art-director-scenography {
    color: #0D0D0D; 
    font-size: 18px; 
    font-family: Roboto; 
    font-weight: 500; 
    word-wrap: break-word;
}
.text-section {
    flex-direction: column;
    justify-content: left;
    background-color: red;
    font-size: 26px; 
    font-family: Bitter; 
    font-weight: 400; 
    word-wrap: break-word;

}
.text-section::before{
    content:"";
    
    display: inline-block;
    /* margin-right: 10px; */
    /* width: 1em;   */
    /* height: 1em; */
    /* background-image: url("https://cdn-icons-png.flaticon.com/512/597/597177.png"); */
    /* background-position: center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  width: 20px;
  height: 6px;
  background-color: yellow;
    
}